In [1]:
#Dictinary wroks in key value pair
d={}
type(d)

dict

In [10]:
d1={"1st name":"tandra","middle name":"rani"}

In [11]:
d1

{'1st name': 'tandra', 'middle name': 'rani'}

In [12]:
#Duplicate keys are not allowed,if provided with duplicate keys its takes latest value
d3={"name":"tandra","name":"das"}
d3

{'name': 'das'}

In [13]:
#Interger,flots as key are possible 
d4={2:"test",7.7:"urt"}
d4

{2: 'test', 7.7: 'urt'}

In [14]:
d5={2:"test",[3,4,5,6]:"gdg"}

TypeError: unhashable type: 'list'

In [15]:
#disctinary can allows to save any types of data in key valaue pair
d6={"key":[6,5,7,5],"key1":[64,5,4,3,[5,4,3,]],"key2":{6,3,2,4},"key4":(9,7,11,23),"key5":{"name":"tandra","surname":"das"}}
d6

{'key': [6, 5, 7, 5],
 'key1': [64, 5, 4, 3, [5, 4, 3]],
 'key2': {2, 3, 4, 6},
 'key4': (9, 7, 11, 23),
 'key5': {'name': 'tandra', 'surname': 'das'}}

In [18]:
#Dictionary never saves date in index format .
d6[0]

KeyError: 0

In [19]:
#Dict saves data in key value pair
d6["key"]

[6, 5, 7, 5]

In [21]:
d6["key1"][4][0]

5

In [22]:
d6

{'key': [6, 5, 7, 5],
 'key1': [64, 5, 4, 3, [5, 4, 3]],
 'key2': {2, 3, 4, 6},
 'key4': (9, 7, 11, 23),
 'key5': {'name': 'tandra', 'surname': 'das'}}

In [23]:
d6["key5"]["surname"]

'das'

In [27]:
for i in d6:
    print(i)

key
key1
key2
key4
key5

In [26]:
for i in d6:
    print(d6[i])

[6, 5, 7, 5]
[64, 5, 4, 3, [5, 4, 3]]
{2, 3, 4, 6}
(9, 7, 11, 23)
{'name': 'tandra', 'surname': 'das'}

In [35]:
for i in d6.keys():
    print(d6[i])

[6, 5, 7, 5]
[64, 5, 4, 3, [5, 4, 3]]
{2, 3, 4, 6}
(9, 7, 11, 23)
{'name': 'tandra', 'surname': 'das'}

In [36]:
d6.keys()

dict_keys(['key', 'key1', 'key2', 'key4', 'key5'])

In [34]:
d6.values()

dict_values([[6, 5, 7, 5], [64, 5, 4, 3, [5, 4, 3]], {2, 3, 4, 6}, (9, 7, 11, 23), {'name': 'tandra', 'surname': 'das'}])

In [38]:
#Extract tuples from the abouve dict and save in a list
m=[]
for i in d6.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
m

[9, 7, 11, 23]

In [39]:
#Adding new pair to existing dcit
d6["key6"]=["new key"]

In [40]:
d6

{'key': [6, 5, 7, 5],
 'key1': [64, 5, 4, 3, [5, 4, 3]],
 'key2': {2, 3, 4, 6},
 'key4': (9, 7, 11, 23),
 'key5': {'name': 'tandra', 'surname': 'das'},
 'key6': ['new key']}

In [43]:
#It overrides teh data if gets duplicated
d6["key"]=["new List.ipynb"]
d6

{'key': ['new List.ipynb'],
 'key1': [64, 5, 4, 3, [5, 4, 3]],
 'key2': {2, 3, 4, 6},
 'key4': (9, 7, 11, 23),
 'key5': {'name': 'tandra', 'surname': 'das'},
 'key6': ['new key']}

In [44]:
#create key values pair of integer where,values owill be sqauare of keys
v={}
for i in range(5):
    v[i]=i**2
v

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [53]:
#Dict comprehension

{i:i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [46]:
#create key value pair od the list provided ,keeping upper in value and lower case in key
l=["tnd","trd","sbd","ufg"]
l1={}
for i in l:
    l1[i] = i.upper()
l1

{'tnd': 'TND', 'trd': 'TRD', 'sbd': 'SBD', 'ufg': 'UFG'}

In [55]:
{l1[i]:i.upper() for i in l}

{'TND': 'TND', 'TRD': 'TRD', 'SBD': 'SBD', 'UFG': 'UFG'}