In [1]:
def test():
    pass

In [2]:
def test():
    a=1
    b=2
    print(a+b)

In [3]:
test()

3

In [4]:
type(test())

3

NoneType

In [5]:
#This gives error as print function used in test method is  none type
test()+1

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [6]:
b=test()+1
b

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [7]:
type(b)

NameError: name 'b' is not defined

In [8]:
def test():
    a=3
    b=6
    return a+b

In [9]:
test()

9

In [10]:
type(test())

int

In [11]:
test()+1

10

In [12]:
def test():
    return "mu name is tandra"

In [13]:
test()

'mu name is tandra'

In [14]:

type(test())

str

In [15]:
test()+" bingo"

'mu name is tandra bingo'

In [16]:
def test1(c,d):
    return c+d

In [17]:
test1()

TypeError: test1() missing 2 required positional arguments: 'c' and 'd'

In [18]:
x=test1(4,6)
x

10

In [19]:
type(x)

int

In [20]:

y=test1("tandra"," rani")
y

'tandra rani'

In [21]:
type(y)

str

In [22]:
y.upper()

'TANDRA RANI'

In [23]:
z=test1([4,3,2,3],[4,3,1,2])
z

[4, 3, 2, 3, 4, 3, 1, 2]

In [24]:
def test2(a,b):
    return a-b,a*b

In [25]:
test2(9,3)

(6, 27)

In [26]:
#on 2 return value ,2 varibale va=can be assigned for saving
s,t=test2(19,12)

In [27]:
s

7

In [28]:
t

228

In [29]:
def test(a,b='test'):
    return a+b

In [32]:

test("xyz")

'xyztest'

In [33]:
test("xyz","jshdjb")

'xyzjshdjb'

In [34]:
#Remove 5 from the list below
l=[4,5,6,5,7,8,9,[4,5,6,7,7,5]]
m=[]
for i in l:
    if i == 5 :
        l.remove(5)
    if type(i) == list:
        for j in i:
            if j==5:
                i.remove(j)

In [35]:
l

[4, 6, 7, 8, 9, [4, 6, 7, 7]]

In [36]:
p=[5,1,2,5,5,5,4,6,5,52]
n=[]
for i in p:
    n.append(i)
    if i == 5:
        n.remove(i)

In [37]:
n

[1, 2, 4, 6, 52]

In [38]:
p1=[5,1,2,5,5,5,4,6,5,52,[5,6,7,8]]
m1=[]
for i in p1:
    m1.append(i)
    if i == 5 :
        m1.remove(i)
    if type(i) == list:
        for j in i:
            if j == 5:
                i.remove(j)

In [39]:
m1

[1, 2, 4, 6, 52, [6, 7, 8]]

In [40]:
l5=[5,4,3,5,[8,5,7,2]]
m5=[]
for i in l5:
    m5.append(i)
    if i == 5 :
        m5.remove(i)
    if type(i) == list:
        for j in i:
            if j == 5:
                i.remove(j)

In [41]:
m5

[4, 3, [8, 7, 2]]

In [42]:
l=[5,4,3,5,[5,5,7,2]]
m=[]
for i in l:
    m.append(i)
    if i == 5 :
        m.remove(i)
    if type(i)==list:
        n=[]
        for j in i:
            n.append(j)
            if j == 5:
                n.remove(j)
        m.remove(i)
        m.append(n)

    
print(m)

[4, 3, [7, 2]]

In [43]:
def is_prime(num):
    if num%2 == 1:
        print("this number is a prime number ")
    else:
        print("this is not  a prime number")

In [44]:
is_prime(16)

this is not  a prime number

In [45]:
def is_prime1(num):
    for i in range(2,num):
        if num % i == 0:
            print("this is not a prime number")
            break
    else:
        print("this is a prime number")

In [46]:
is_prime1(73)

this is a prime number

In [47]:
#'int' object is not iterable
for i in 7:
    print(i)

TypeError: 'int' object is not iterable

In [48]:
'''if there is possibility that data set is stored in the form of indexes,then it can be extracted one by one
that kind of object called iterrable object and if a object is a iterable then only it can be converted as iterrator'''

'if there is possibility that data set is stored in the form of indexes,then it can be extracted one by one\nthat kind of object called iterrable object and if a object is a iterable then only it can be converted as iterrator'

In [49]:
#'str','list' object can be iterable 
for i in "[5,6,7,8],tandra":
    print(i)

[
5
,
6
,
7
,
8
]
,
t
a
n
d
r
a

In [50]:
# str object is not a iterator
next("tandra")

TypeError: 'str' object is not an iterator

In [51]:
# as str obect is a iterable object so it can be convert to iterate object using iter function
i=iter("tandra")
type(i)

str_iterator

In [52]:
#it gives next letter on each run
next(i)

't'

## Generator

In [53]:
def test(n):
    for i in range(n):
        print(i)

In [54]:
test(5)

0
1
2
3
4

In [55]:
#Generate a function 
def gencube(n):
    for i in range(n):
         print(i**3)

In [56]:
gencube(5)

0
1
8
27
64

In [57]:
def gencube(n):
    for i in range(n):
        yield i**3

In [58]:
gencube(5)

In [59]:
for i in gencube(10):
    print(i**3)

0
1
512
19683
262144
1953125
10077696
40353607
134217728
387420489

In [60]:
next(gencube(5))

0

In [61]:
v=iter(gencube(5))

In [62]:
next(v)

0

In [63]:
#FIbonaci series

def fibonaci(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b,a+b

In [64]:
fibonaci(5)

1
1
2
3
5

In [65]:
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield(a)
        a,b=b,a+b

In [66]:
genfi(10)

In [67]:
next(genfi(10))

1

In [68]:
x=iter(genfi(10))

In [69]:
next(x)

1

In [70]:
def square(n):
    return n**2

In [71]:
square(5)

25

In [72]:
l=[2,3,4,4,5,7,9,6]
m=[]
for i in l:
    m.append(square(i))

In [73]:
m

[4, 9, 16, 16, 25, 49, 81, 36]

In [74]:
s=[4,5,6,7,8]
[i**2 for i in s]

[16, 25, 36, 49, 64]

In [75]:
#map function used for mapping
list(map(square,s))

[16, 25, 36, 49, 64]

In [76]:
a=[4,5,6,7]
b=[6,5,4,3]
c=[8,7,3,5,6]

In [77]:
def summation(x,y,z):
    return x+y+z

In [81]:
summation(a,b,c)

[4, 5, 6, 7, 6, 5, 4, 3, 8, 7, 3, 5, 6]

In [79]:
map(summation,a,b,c)

In [80]:
list(map(summation,a,b,c))

[18, 17, 13, 15]

In [83]:
list(map(lambda x,y,z:x+y+z,a,b,c))

[18, 17, 13, 15]

## reduce

In [85]:
def summation(a,b):
    return a+b

In [86]:
#Reduce function does aggregation function
from functools import reduce

In [87]:
m=[3,4,5,6,7]#a=3,b=4 and them a value becomes 3+4=7 and b becomes 5..like this reduce works
reduce(summation,m)

25

In [91]:
#Reduce function never accepts 3 arguments,always it takes 2 argumets
m=[4,5,6,7,8]
reduce(lambda x,y,z:x+y+z,m)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [92]:
m=[4,5,6,7,8]
reduce(lambda x,:x,m)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [90]:
n=[7,6,4,3,2,4]
reduce(lambda x,y:x+y,n)

26

In [89]:
n=[7,6,4,3,2,4]
reduce(lambda x,y:x/y,n)

0.012152777777777778

## filter

In [98]:
#Filter out the data based pn the given condition
l=[4,5,6,7,8,9,54,34,22,35]
list(filter(lambda x:x%2==0,l))

[4, 6, 8, 54, 34, 22]

In [102]:
def evencheck(n):
    if n%2==0:
        print(n)
    else:
        print("odd")

In [107]:
def evencheck1(n):
    if n%2==0:
        return True

In [104]:
evencheck(33)

odd

In [105]:
list(filter(evencheck,l))

4
odd
6
odd
8
odd
54
34
22
odd

[]

In [110]:
evencheck1(6)

True

In [113]:
list(filter(evencheck1,l))

[4, 6, 8, 54, 34, 22]