In [1]:
a=[1,2,3,8,5,'tandra','rani',5.6,]
a

[1, 2, 3, 8, 5, 'tandra', 'rani', 5.6]

In [2]:
for i in a:
    print(i)

1
2
3
8
5
tandra
rani
5.6

In [4]:
m=[]
for i in a:
    m.append(i)
m

[1, 2, 3, 8, 5, 'tandra', 'rani', 5.6]

In [5]:
b=[5,4.6,6,'t','fg',7]

In [6]:
a+b

[1, 2, 3, 8, 5, 'tandra', 'rani', 5.6, 5, 4.6, 6, 't', 'fg', 7]

In [7]:
(a+b)*2

[1,
 2,
 3,
 8,
 5,
 'tandra',
 'rani',
 5.6,
 5,
 4.6,
 6,
 't',
 'fg',
 7,
 1,
 2,
 3,
 8,
 5,
 'tandra',
 'rani',
 5.6,
 5,
 4.6,
 6,
 't',
 'fg',
 7]

In [9]:
#b+"tandra":gives error as tha one is list another is string

b+["tandra"]

[5, 4.6, 6, 't', 'fg', 7, 'tandra']

In [10]:
#list always takes a iterrable object,it dont take int as ,integer is not a iterrable object.
#list(34):error as int is not a terrable object
#List dunction alwyas separates the iterrable obeject if passed in below way
b+list("tandra")

[5, 4.6, 6, 't', 'fg', 7, 't', 'a', 'n', 'd', 'r', 'a']

In [13]:
#add data to tail
a.append("das")
a

[1, 2, 3, 8, 5, 'tandra', 'rani', 5.6, 'das', 'das', 'das']

In [14]:
a.insert(4,'test')
a

[1, 2, 3, 8, 'test', 5, 'tandra', 'rani', 5.6, 'das', 'das', 'das']

In [18]:
a.insert(-2,'zzz')
a

[1,
 2,
 3,
 8,
 'test',
 5,
 'tandra',
 'rani',
 5.6,
 'das',
 'zzz',
 'zzz',
 'zzz',
 'zzz',
 'das',
 'das']

In [20]:
a.pop(-3)
a

[1,
 2,
 3,
 8,
 'test',
 5,
 'tandra',
 'rani',
 5.6,
 'das',
 'zzz',
 'zzz',
 'das',
 'das']

In [21]:
#without index it poped from tail
a.pop()

'das'

In [24]:
# it reverses the list for tempory ,untill u save this with any variable
a[::-1]
a

['das', 'zzz', 'zzz', 'das', 5.6, 'rani', 'tandra', 5, 'test', 8, 3, 2, 1]

In [23]:
#This function reverse the list permannently
a.reverse()
a

['das', 'zzz', 'zzz', 'das', 5.6, 'rani', 'tandra', 5, 'test', 8, 3, 2, 1]

In [25]:
a.append([7,8,6,5])
a

['das',
 'zzz',
 'zzz',
 'das',
 5.6,
 'rani',
 'tandra',
 5,
 'test',
 8,
 3,
 2,
 1,
 [7, 8, 6, 5]]

In [28]:
s=[6,9,0,4,87,65]

In [30]:
s.sort()
s

[0, 4, 6, 9, 65, 87]

In [34]:
s1=['t','u','ka','bo','fg']
s1.sort()
s1

['bo', 'fg', 'ka', 't', 'u']

In [36]:
s1.sort(reverse=True)
s1

['u', 't', 'ka', 'fg', 'bo']

In [38]:
x=[2,3,4,5]
y=[76,45,65,43]
z=[12,4,533,12,342,13,45,65,3,65,]

m=[x,y,z]
m

[[2, 3, 4, 5], [76, 45, 65, 43], [12, 4, 533, 12, 342, 13, 45, 65, 3, 65]]

In [39]:
m[-1][::3]

[12, 12, 45, 65]

In [47]:
p=[]
m=m[::-1] #m.reverse() can be used
for r in m:
    p.append(r[::-1])

In [48]:
m

[[12, 4, 533, 12, 342, 13, 45, 65, 3, 65], [76, 45, 65, 43], [2, 3, 4, 5]]

In [49]:
p

[[65, 3, 65, 45, 13, 342, 12, 533, 4, 12], [43, 65, 45, 76], [5, 4, 3, 2]]

In [63]:
# fetch 2nd postion value from each list
q=[]
for s in p:
    q.append(s[2])

In [64]:
q

[65, 45, 3]

In [65]:
# fetch all 2 position value from list

e=[]
for f in m:
    e.append(f[::2])

In [66]:
e

[[12, 533, 342, 45, 3], [76, 65], [2, 4]]

In [67]:
e.extend([7,7,5])

In [68]:
e

[[12, 533, 342, 45, 3], [76, 65], [2, 4], 7, 7, 5]

In [69]:
e.extend([5,6,6,[9,8.7,9]])

In [70]:
e

[[12, 533, 342, 45, 3], [76, 65], [2, 4], 7, 7, 5, 5, 6, 6, [9, 8.7, 9]]

In [72]:
e.index(7) #for int to get index ,index funstion gets used,for string to get index find funstion gets used

3