In [16]:
a='tandra rani das'

In [17]:
a

'tandra rani das'

In [18]:
a*5

'tandra rani dastandra rani dastandra rani dastandra rani dastandra rani das'

In [19]:
[a,7,43,5]*3

['tandra rani das',
 7,
 43,
 5,
 'tandra rani das',
 7,
 43,
 5,
 'tandra rani das',
 7,
 43,
 5]

In [20]:
a.lower()

'tandra rani das'

In [21]:
a.upper()

'TANDRA RANI DAS'

In [22]:
#split make split on entire data
a.split('a')

['t', 'ndr', ' r', 'ni d', 's']

In [23]:
#partition splits data based on 1st occurance
a.partition('a')

('t', 'a', 'ndra rani das')

In [26]:
a.split() #basedon white space

['tandra', 'rani', 'das']

In [27]:
type(a.split('a'))

list

In [28]:
type(a.partition('a'))

tuple

In [29]:
#find index from the strng declared
a.find('a')

1

In [33]:
#center function allows only one chareter keeping the variable in center
a.center(20,'#')

'##tandra rani das###'

'tandra\trani\thdas'.expandtabs()

In [1]:
#format function fills the empty place shows in curley braces
'my name is {}'.format('tandra')

'my name is tandra'

In [2]:
i=input("please enter you name")
j=input("please enter your last name")

'my name is {} {} '.format(i,j)

please enter you namerani
please enter your last namevictoria

'my name is rani victoria '

In [11]:
x='Mskdjcnkj'

In [13]:
x.isalnum()

True

In [14]:
x.isnumeric()

False

In [15]:
x.isupper()

False

In [12]:
#Returns true if 1st letter is in caps
x.istitle()

True

In [17]:
x.endswith('t')

False

In [18]:
len(x)

9