In [1]:
t=(6,7,5,5,'hhbjn',7.8,8+6j)

In [2]:
t

(6, 7, 5, 5, 'hhbjn', 7.8, (8+6j))

In [3]:
len(t)

7

In [4]:
t[::-2]

((8+6j), 'hhbjn', 5, 6)

In [5]:
for i in range(len(t)):
    print(t[i])

6
7
5
5
hhbjn
7.8
(8+6j)

In [8]:
for i in t:
    print(i)

6
7
5
5
hhbjn
7.8
(8+6j)

In [9]:
t.count(5)

2

In [13]:
t.index(7.8)

5

In [18]:
t1=(5,8,1,4)

In [20]:
t+t1

(6, 7, 5, 5, 'hhbjn', 7.8, (8+6j), 5, 8, 1, 4)

In [21]:
t[0]=(7)

TypeError: 'tuple' object does not support item assignment

In [31]:
t2=list(t1)

In [32]:
t2.insert(3,"tandra")

In [33]:
t2

[5, 8, 1, 'tandra', 4]